<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.z.mapper.DeptMapper">
    <resultMap id="dept" type="cn.z.entity.Dept">
        <!--<id property="id" column="id"/>-->
        <!--<result property="name" column="name"/>-->
    </resultMap>
    <select id="selectEmp" resultType="java.util.Map">
        SELECT e.name en, e.age, e.birthday, d.name dn, d.addr
        FROM dept d 
        LEFT JOIN emp e ON d.id=e.dept
    </select>
</mapper>